<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }}{% else %}Brad Wright{% endif %} - intranation.com</title>
        <link href="/feed.xml" rel="alternate" title="Recent Blog Posts" type="application/atom+xml">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/2.0/uk/" type="text/html" title="Creative Commons Attribution-ShareAlike 2.0 England &amp; Wales Licence">
        <link rel="openid.server" href="http://www.myopenid.com/server">
        <link rel="openid.delegate" href="http://intranation.myopenid.com/">
        {% if page.summary %}<meta name="description" value="{{ page.summary }}">{% endif %}
    </head>
    <body>
        <header>
            {% if page.home %}<h1>intranation</h1>{% else %}<a href="/" rel="home">intranation</a>{% endif %}
        </header>
        <section id="content">
            {{ content }}
        </section>
        <footer>
            <h2><a href="/about/" rel="me">About Me</a></h2>
            <address class="vcard author">
                <a class="url" href="/" rel="home">intranation</a> is the personal website of <span class="fn"><span class="given-name">Bradley</span> <span class="family-name">Wright</span></span> (<span class="nickname">Brad</span> to most people), a professional <span class="title">web developer</span> living and working in <span class="adr"><span class="locality">London</span>, <span class="country-name">United Kingdom</span></span>.
            </address>
            <h3>Hosting</h3>
            <p>
                This site hosted on <a href="http://prgmr.com/xen/" rel="external">prgmr</a>.
            </p>
            <p class="copyright">Contents of site licenced under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/">Creative Commons Attribution-ShareAlike 2.0 England &amp; Wales Licence.</a>.</p>
        </footer>
    </body>
</html>
